/* clear float */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix { display: block; }

/* common */
html { overflow:hidden; background-color: #000;}
body { background:none !important; overflow-y: auto;}

#bg{
	-webkit-filter: blur(2px); /* Chrome, Opera */
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);   
	filter: blur(2px);
}
#bg img { opacity: 1 !important;; }

.login #login_error, .login .message {
	position: absolute;
    top: -70px;
}

/* login */
#login { 
	font:14px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
	/* position:absolute; */
	background: rgba(255, 255, 255, 0.45);
	border-radius: 10px;
	/* top:50%; */
	/* left:50%; */
	width:350px;
	padding:0 0 8px!important;
	/* margin:-235px 0px 0px -190px !important; */
    background-position: center 48%;
    margin: 70px auto;
}

#login h1 a { 
	font-family:"Microsoft Yahei";
	font-weight:bold;
	text-indent:0px;
	font-size:0px; 
	height:64px;
	width: 100%;
	line-height:88px;
	line-height:180%; 
	text-align:center; color:#FFF; 
	text-shadow:1px 1px 0px #000;
	margin-bottom:10px;
	margin-top: 25px; 
	background-image:url(../images/login.png);
	background-position: center bottom !important;
	background-size: contain;
	padding-top: 20px;
	box-shadow: none;
}

input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;;
color: #676767 !important}

#login form { 
	padding:10px 0px;
	background: none;
    box-shadow: none;
	margin-top: 10px;
}

#login form p {
	font-family:"Microsoft Yahei";
	position:relative;
	padding:0px 35px;
}

#login a {
	text-shadow:1px 1px 0px #000;
	color:#FFF !important;
	font-family:"Microsoft Yahei";
}
#login_error a {
	color:#000 !important;
	text-shadow:1px 1px 0px #FFF;
}

#login form label {
	color:#333;
	color: #585858;
}

#login form .input { 
	border:1px solid #EAEAEA;
	border-radius:0px;
	background:none; 
	padding:5px 10px;
	color:#444;
	font-weight:normal;
	font-size:14px;
	background:#FFF;
	font-family:"Microsoft Yahei";
	box-shadow: 0 0 0px 1000px white inset;
	height: 50px;
    border-radius: 3px;
	margin-top: 10px;
}

#login form .input:active { 
	box-shadow:0 0 0px 1000px white inset;
    color: #676767 !important;
}

#login form .input:focus {
	box-shadow:0 0 0px 1000px white inset;
	color: #676767 !important;
}

#login .form-send .bot {
	width:100%;
	border-bottom:1px solid #ccc;
}

#login form .forgetmenot {
	float:none;
}

#login form p.submit {
	padding:0px 35px !important;
}

#login .submit .button {
	width:100%;
	margin: 20px auto 40px;
	border:none;
	float:none;
	border-radius:30px;
	height:50px;
	font-size:14px;
	text-align:center;
	color:#FFF;
	background:#FF5656;
	font-weight:normal;
	cursor:pointer;
	box-shadow: none;
	text-shadow: none;
	letter-spacing:2px
}

.login #nav , #backtoblog {
	/*display:none*/
	color: #585858 !important;
}

.login #nav {
	margin: 0;
}

.login .ds-login{
	margin-left: 38px;
}

.login form input[type=checkbox] {
	background: #FFFFFF;
    box-shadow: none;
	width:20px;
	height:20px;
	border-radius: 2px;
}

input[type=checkbox]:checked:before {
    content: "\f147";
    margin: -2px 0 0 -2px;
    color: #FF5656;
}

/* loading */
.loading { position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:99; overflow:hidden; background:#000; }
.loading img { position:absolute; top:50%; left:50%; width:58px; height:10px; margin:-5px 0px 0px -29px; }